@model Pokemon

<h1>Registrar Ciudades</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Lugar"></label>
        <input asp-for="Lugar" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Maestro"></label>
        <input asp-for="Maestro" class="form-control">
    </div>
    <button class="btn btn-primary">Enviar</button>
</form>